# Neo4j数据库连接配置
# 复制此文件为neo4j.env并修改为你的实际配置

# Neo4j数据库连接URI
NEO4J_URI=bolt://localhost:7687

# Neo4j数据库用户名
NEO4J_USER=neo4j

# Neo4j数据库密码 xLtoQvNto1J3OTdXgG3Ic9BxPKPKL09VT9jqtCeHlyI
NEO4J_PASSWORD=password 